body {
    font-family: 'Lato', sans-serif;
    background-color: #2f2fa2;
    color: white;
}

.allText {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.mathsImage {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 25px;
}